.container {
  margin: 5rem 0;
}

.card {
  margin: 0 1rem !important;
}

.infected {
  border-bottom: 0.5rem solid rgba(0, 0, 255, 0.5);
}
.recovered {
  border-bottom: 0.5rem solid rgba(0, 255, 0, 0.5);
}
.deaths {
  border-bottom: 0.5rem solid rgba(255, 0, 0, 0.5);
}

.pre-loader {
  width:5rem !important;
  height:5rem;
  margin-top:50rem;  
}