*, body, html {
  font-family:sans-serif !important;
  box-sizing: border-box;

}
body {
  background: #ffffff !important;
}
a .active_class {
  color: red !important;
  text-decoration: underline;
}

.text-purple{
  color:#a02dd5;
}

.text-green {
  color:lightgreen;
}